::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: var(--blue-400);
}

::-webkit-scrollbar-thumb {
    background-color: var(--blue-500);
}

body {
    width: 100%;
    height: 100vh;
    background-image: url("../assets/bg.png");
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3.12rem;
    color: var(--white);
}

main {
    width: 480px;
    border-radius: 1.5rem;
    border: 1px solid var(--blue-500);
    overflow-y: hidden;
}

form {
    background-color: var(--blue-300);
    display: flex;
    flex-direction: column;
    padding: 3.5rem 4rem;
}

label {
    font-size: 0.75rem;
    color: var(--blue-900);
    text-transform: uppercase;
    margin-bottom: 0.5rem;
    margin-top: 1.25rem;
}

input, select {
    border: 5px solid red;
    outline: 0;
    color: var(--white);
    border: 1px solid var(--blue-400);
    border-radius: 0.5rem;
    background-color: var(--blue-200);
    padding: 1.25rem 1rem;
}

select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background: url("../assets/chevron-down.svg") no-repeat;
    background-position: calc(100% - 0.75rem) center !important;
    background-color: var(--blue-200);
    cursor: pointer;
}

input::placeholder, select:invalid, option {
    color: var(--blue-900);
}

input:focus, select:focus {
    border: 1px solid var(--blue-700);
}

button {
    height: 3.25rem;
    background-color: var(--blue-600);
    border: none;
    border-radius: 0.5rem;
    color: var(--white);
    font-weight: var(--font-weight-semibold);
    cursor: pointer;
    transition: background-color 0.2s;
    margin-top: 3rem;
    outline: 0;
}

button:hover {
    background-color: var(--blue-700);
}

button:focus {
    outline: 1.5px solid var(--blue-700);
}

footer {
    background-color: var(--blue-400);
    padding: 2.5rem;
    max-height: 196px;
    text-align: center;
    display: none;
    overflow-y: scroll;
}

footer span {
    color: var(--blue-800);
    font-family: "IBM Plex Mono", monospace;
    margin-bottom: 0.5rem;
    line-height: 1.25rem;
}

footer h1 {
    color: var(--white);
    font-weight: var(--font-weight-bold);
    font-size: 2rem;
    line-height: 3rem;
    word-break: break-all;
}

.show-result {
    display: block;
}